body
{
    color: black;
    background-color: #FF91A4;
    background-image: url("pix/construction.gif");
    background-repeat: no-repeat;
    background-position: 80% 2%;
}



h1.header
{
    color: #048;
    color: #DC143C;
    text-align: center;
    font-style: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 300%;
}

h2.header
{
    text-align: center;
    font-style: sans-serif;
    font-weight: bold;
    font-size: 200%;
}

h2
{
    text-align: center;
}

.blog
{
    margin-top: 100px;

}
code
{
   # margin-left: 10%;
}
a
{
    color: #008;
    font-weight: bold;
    text-decoration: underline;
}

a:visited
{
    color: #408;
}

a:hover
{
    #color: #C08;
    color: #FF0000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

a:active
{
    background-color: #FFFF00;
}

nav.header
{
    background: #960018 ;
    #background: #c;
    border-style: hidden;
    border-radius: 12px;
    width: 94%;
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0px;
    padding-bottom: 0px;
    float: none;
    line-height: 300%;
    text-align: center;
    text-shadow: 2px 2px black;
}

nav.header ul
{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

nav.header li
{
    display: inline;
    list-style: none;
}

nav.header a, nav.header a:hover, nav.header a:visited
{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: hidden;
    border-radius: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

nav.header li.current a, nav.header a:hover
{
    background: #FF0000;
    box-shadow: 3px 3px black;
}

main
{
    background: #FF7F7F;
    text-indent: 30px;
    width: 90%;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4px;
    padding-bottom: 10%;
    overflow: auto;
}

.floating
{
    float: right;
    max-width: 40%;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.gameslist
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: auto;
    font-size: x-large;
    text-align: center;
}

.gameslist img
{
    display: block;
    float: left;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}



.footer
{
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

details.faq summary
{
    color: #008;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

details.faq summary:hover
{
    color: #C08;
    font-weight: bold;
    text-decoration: none;
}

aside.footnotes ol
{
    font-size: smaller;
}
